<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".WishListAndroidApp"
        android:allowBackup="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="My wish list"
        android:supportsRtl="true"
        android:theme="@android:style/Theme"
        tools:targetApi="31">

        <activity
            android:name=".entrypoint.impl.EntryPointActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>